
<div class="container-fluid product">
    <div class="box-product">
        <div class="row" id={{id}}>
            <div class="col">
                <img src={{thumbnail}} class="card-img-top" alt={{title}}>
            </div>
            <div class=" col">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-title">{{_id}}</p>
                <p class="card-text">Descripción: {{description}}</p>
                <p class="card-text">Código: {{code}}</p>
                <p class="card-text">categoria: {{category}}</p>
                <div class="row">
                    <p class="card-text col">Stock: {{stock}}</p>
                    <p class="card-text col">Precio: ${{price}}</p>
                </div>
                <div>
                    <button onclick="addToCart('{{_id}}')" class="btn btn-outline-primary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const addToCart = async (id) => {
    // Crear el carrito si no existe en el almacenamiento local
    let cart = JSON.parse(localStorage.getItem('cart'));
    if (!cart) {
        // Si el carrito no existe, crear uno nuevo a través de una solicitud POST a la API
        const response = await fetch(`/api/carritos`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        // Analizar el JSON de la respuesta para obtener la información del nuevo carrito
        const nuevoCarrito = await response.json();
        cart = nuevoCarrito;

        // Almacenar el nuevo carrito en el almacenamiento local
        localStorage.setItem('cart', JSON.stringify(cart));
    }

    // Agregar el producto seleccionado al carrito mediante una solicitud POST a la API
    const respuesta = await fetch(`/api/carritos/${cart._id}/producto/${id}`, {
        method: 'POST'
    });

    // Verificar si la solicitud fue exitosa
    if (!respuesta.ok) {
        console.log('error');
    }

    // Mostrar una alerta indicando que el producto se ha agregado al carrito
    alert('Agregado al carrito');
    console.log(await respuesta.json());
}

</script>